{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'dashboard/template.css' %}" rel="stylesheet" />
    <title>Unauthorized access</title>
</head>

<body>
    {% include "./components/header.html" %}
    <div class="container">
        <div id="note">
            <h1>Unauthorized access</h1>
            <p>Forbidden</p>
            <a href="/">Go back to home page</a>
        </div>
    </div>
</body>

</html>