* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5em;
}

body{
    background-color: rgb(24, 23, 23);
    color: #fff;
}

header {
    text-align: center;
    background: white;
    color: black;
    border-bottom: 10px solid #FFD700;
    padding: 10px;
}

header a {
    color: black;
}

.container {
    position: relative;
    min-height: 100vh;
}

.container form input{
    background: rgb(41, 40, 40);
    border: 3px solid rgb(41, 40, 40);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.container form textarea{
    background: rgb(41, 40, 40);
    border: 3px solid rgb(41, 40, 40);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.container form input[type="submit"]{
    background: #FFD700;
    width: fit-content;
    padding: 10px;
    /*background: rgb(136, 136, 192);*/
    border: 3px solid rgb(136, 136, 192);
    border-bottom: 7px solid rgb(136, 136, 192);
    color: rgb(136, 136, 192);
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
}

#submit{
    text-align: right;
    width: 100%;
    display: block;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 100%;
        padding: 10px;
        
    }

    .container form p{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 10px 0;
    }


    .container form input{
        padding: 10px;
        display: inline-block;
    }
}

@media screen and (min-width: 1367px) {
    .container {
        width: 1336px;
        padding: 10px;
        text-align: center;
    }
}