<html>
{% load static %}
<head>
<title>Terms and Conditions</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<link href="{% static 'dashboard/style.css' %}" rel="stylesheet"/>
</head>
<body>
   {% include "header.html" %}
   <div class='tandcs' id='about'>
   <h1 class ='info'><i class='fas fa-info'></i></h1>
     <h1>Terms and Conditions</h1>
     <p>
      We struggle to maintain business in Network marketing these days,
      mainly because of big numbers that try to compansate us, it does not operate
      well that way.
     </p>
     <p>This is a clear transaction period. Millions and thousands come as 
     you gather them not instantly.</p>
     <p>CASHPOINT values your investment... But most inportantly your continuity,
     finish level 2 and withdraw. Our commitment will make you join again.</p>
  </div>
</body>
</html>